# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python caches
.pytest_cache/
.mypy_cache/

# Models
*.pkl
*.joblib

# Project datasets
datasets/

# Models
models/
*.pkl
*.joblib

# VS Code
.vscode/

# macOS
.DS_Store