# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
test_env/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Models (keep commented if you want to upload models)
# models/*.pkl

# IDE
.vscode/
.idea/

# Doubt-triage train dataset
# ignoring because git push throws secrets exposed error
datasets/doubt-triage/train.csv
